<!-- Lets talk about geddy -->
<%- styleLink('/css/auth-buttons.css', {rel:'stylesheet'}) %>
<div class="hero-unit">

  <p style="text-align: center;">
    <div>
    <a href="<%= geddy.config.fullHostname %>/auth/yammer-staging">
      Log in with Yammer Staging
    </a>
    </div>
    <div>
    <a href="<%= geddy.config.fullHostname %>/auth/yammer-production">
      Log in with Yammer Production
    </a>
    </div>
  </p>
</div>
